* body {
    
}

img {
    width: 100%;
}

.pricipal {
    background: #CCCC;
    padding: 30px;
}

h1 {
    text-align: center;
}

p  {
    text-align: center;
}

em strong {
    color: blueviolet;
}

#missao {
    font-size: 20px;
}

.beneficios {
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.itens {
    font-style: italic;
}


.imagembeneficios {
    width: 50%;
}